<div class="row">
    <div class="col-md-12">
  
  
      <% flash.get('mensaje').forEach(function (msg) { %>
      <div class="alert alert-success" role="alert">
        <%=msg%>
      </div>
      <% }) %>
  
      <h2>Admin - Clientes</h2>
  
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Cuenta Activa</th>
            <th>Ordenes</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <% clientes.forEach( cliente => { %>
            <tr>
              <td><%=cliente.id%></td>
              <td><%=cliente.nombre%></td>
              <td><%=cliente.email%></td>
              <td><%=cliente.activa ? "Si" : "No"%></td>
              <td><a href="/admin/ordenes-cliente/<%=cliente.id%>" class="btn btn-info">Ver Ordenes</a></td>
              <td>
                <% if (cliente.activa) { %>
                <a href="/admin/desactivar-cliente/<%=cliente.id%>" class="btn btn-info">Desactivar cliente</a>
                <% } else { %>
                <a href="/admin/activar-cliente/<%=cliente.id%>" class="btn btn-primary">Activar cliente</a>
                <% } %>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
  
    </div>
  
  </div>
  